body {
    background-color: #D2B48C;
}

ul {
    padding-top: 5px;
    padding-right: 5px;
}

ul li {
    padding-top: 5px;
    
}

ul li a {
    color: black !important;
}
ul h2 {
    
    margin-right: 10%;
    padding-top: 5px;
    padding-left: 7px;
}

.mainBodyText {
    padding-top: 100px;
}

.indexText {
    padding-top: 50px;
}

.form-group {
    width: 80% ;
}

.contactForm form {
    width: 80%;
    padding-top: 50px;
}

footer {
    width: 100% !important;
    position: fixed !important;
    bottom: 0px; left: 0 !important;
}

.btn {
    outline-color: #D2B48C !important;
}

/* #bookingCalendar {
    visibility: collapse !important; 
} */